.btn {
    color: #20bf6b !important;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-right: auto;
    margin-left: auto;
}

.btn:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

.btn:active {
    color: #494949 !important;
    border-radius: 50px;
    border-color: darkorange !important;
    transition: all 0.3s ease 0s;
}

.brush {
    color: black !important;
    background: #ffffff;
    border: 1px solid lightblue !important;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease 0s;
    width: auto
}

.brush:hover {
    color: darkorange !important;
}

.panelBtn {
    margin-top: 5px!important;
}
