.loader  {
    border-color: red;
    opacity: 1;
    font-weight: 200;
}

.loaderDiv {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(56,255,255,0.1)
}

.loaderPosition  {
    margin-top: 25%;
    margin-left: 32%;
    background: rgba(205,206,255,0.1);
    text-align: -webkit-center;
    color: black;
    width: 20%;
}